@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import './variables';

@import "node_modules/bootstrap/scss/bootstrap";

.navbar {
    border-bottom: 1px solid $brand-grey;
    box-shadow: 0px 4px 12px -3px rgba(0,0,0,0.75);
    background: $brand-green;
    height: $navbar-height;

    @include media-breakpoint-down(sm) {
        height: auto;
    }

    .nav-link {
        &.active {
            pointer-events: none;
        }
    }
}

.content-wrapper {
    margin-top: $navbar-height;
    padding: 30px 0;
    background-color: $gray-100;
    overflow-y: auto;
    min-height: calc(100vh - #{$navbar-height + $footer-height});
    max-height: calc(100vh - #{$navbar-height + $footer-height});

    @include media-breakpoint-down(sm) {
        margin-top: $navbar-height-mobile;
        min-height: calc(100vh - #{$navbar-height-mobile + $footer-height});
        max-height: calc(100vh - #{$navbar-height-mobile + $footer-height});
    }
}

.page-footer {
    background: $brand-yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $footer-height;
    box-shadow: 0px 0px 10px 1px rgba(130,126,76,0.79);
    color: $brand-dark;
}

label {
    font-weight: bold;
    text-transform: uppercase;
}

.dropzone {
    min-height: 120px;
    border: 2px dashed $cyan;

    &.active {
        border-style: solid;
    }

    &.accepted {
        border-color: $green;
    }

    &.rejected {
        border-color: $red;
    }

    &:focus {
        outline: none;
    }

    .preview-wrapper {
        padding: 25px;
        position: relative;

        img {
            max-height: 65px;
            width: auto;
        }

        .close {
            position: absolute;
            top: 0;
            right: 0;

            &:focus {
                outline: none;
            }
        }
    }
}

.publications-list {
    .publications-header {
        padding: 10px 20px;
        color: $brand-dark;
        font-weight: bold;
        text-transform: uppercase;
    }
    .publication-card {
        display: block;
        color: $brand-dark;
        text-decoration: none;
        padding: 20px;
        background: $white;
        border-radius: 4px;
        box-shadow: 0px 0px 4px 1px rgba(130, 126, 76, 0.79);
        
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &:hover {
            box-shadow: 0px 0px 4px 1px rgba(40, 167, 69, 0.79);
        }
    }
}